<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">

    <h1 style="color:skyblue">

        {{title}}

    </h1>

</div>

<div style="width: 100%">

    <div style="float: left; width: 10%">

           


 
        <nav>

            <a routerLink="/organisation">Emids </a> 
             

        </nav>
        <nav>
            <a routerLink="/dell">Dell </a> 
        </nav>
  
        <nav>
                <a routerLink="lazy">location </a> 
            </nav> 




    </div>

    <div style="float: left; width: 90%">

        <router-outlet></router-outlet>

    </div>

</div>